.grid-container{
    margin: 20px;
}
.project-card{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px; 
    height: auto;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .project-card-content {
    text-align: center;
  }
.example-full-width{
  width: 100%;
}
form{
  display:flexbox;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.btn{
  position: relative;
  left: 30px;
}